.card{
    border-radius: 30px;
    margin: 100px;
    overflow: hidden;
}
.card-header {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
  }
  
  .profile-photo {
    width: 50px;
  }
  
  .name-status {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }
  .name-status *{
    margin:0px;
  }
  
  .mail { 
    font-size: 1.4rem;
  }

  .card-body{
    background-color: #ffffff;
    height: 70vh;
    overflow: scroll;
  }
  .profile-photo-small{
    width: 40px;
  }
  
  .search-user{
    background-color: #ffffff;
     display: flex;
  }
  .search-user button{
    width:50px;
    border-radius: 0px 10px 10px 0px ;
  }
.user{
    background-color: #ffffff;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}